*{
    margin: 0;
    top: 0;
    padding: 0;
    overflow-x:hidden;
}
.main{
    margin: 0;
    padding: 0;
}
nav{
    height: 10vh;
    width: 100vw;
    background-color:black;
    display: flex;
    position: fixed;
    fill: white;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
nav .roit_logo{
    position: relative;
    display: flex;
    margin-left: 25px;
}
nav .roit_logo:hover{
    fill: red;
}
nav .logo_dropdown{
    fill: gray;
    height: 19px;
    width: 10px;
    margin: 0px 10px;
    margin-right: 15px;
}
.header{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .content{
    display: inline-flex;
    position: relative;
    height: 63px;
    width: auto;
    overflow-y: hidden;
}
.header a{
    text-decoration: none;
    margin: 10px 0px;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    font-size: small;
    align-items: center;
    position: relative;
    display:flex;
    overflow-y: hidden;
}
.header a p{
    padding: 6px 20px;
}
.header a:hover p{
    background-color: rgba(101, 101, 101, 0.675);
    border-radius: 5px;
}
.header .content:hover{
    border-bottom: 5px solid #0bc6e3;;
    border-radius: 2px;
}
.login{
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
}
.login div{
    margin: 0px 15px;
}
.login .sign button{
    background-color: rgba(101, 101, 101, 0.675);
    color: white;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 15px;
    border-radius: 5px;
}
.login .play button{
    background-color: #0bc6e3;;
    font-weight: 800;
    padding: 6px 15px;
    border-radius: 13px;
}
.login .search{
    background-color:rgba(101, 101, 101, 0.675);
    border-radius: 60px;
    padding: 12px 15px;
}
.video_home{
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
}
.video_home div video{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.video_home div{
    height:100%;
    width: 100%;
    position: absolute;
    overflow-y: hidden;
}
section{
    position: relative;
}
.video_main video{
    height: 70vh;
    width: 90vw;
    z-index: 1;
    position: relative;
    object-fit: cover;
}
.video_main{
    height: 90vh;
    width: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.front{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 22px; */
    padding: 22px;
}
.border{
    position: absolute;
    /* top: 21px; */
    /* left: 7px; */
    width: 95%;
    height: 98%;
    border: 2px solid gray;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    /* aspect-ratio: auto 1954 / 1044; */
    margin: 6px 1px
}
.sec2{
    height: 85vh;
    margin-top: 74px;
    overflow-y: hidden;
}
.border img{
    height: auto;
    width: 600px;
}
.logo{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
.btn{
    border: 1px solid gray;
    height: 60px;
    width: 195px;
    padding: 4px;
}
.btn .text{
    background-color: #0bc6e3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.btn a{
    text-decoration: none;
    color: black;
}
.btn .text:hover{
    background-color: #22d8f4;
}
.sec3{
    background-image: url(Img/download.png);
    height: 273px;
    margin-top: -120px;
    padding-top: 120px;
    display: flex;
    overflow-y: hidden;
}
.sec3 .left_side1{
    transform: rotate(270deg);
    height: 60px;
    width: 120px;
    font-size: small;
    font-weight: 800;
    overflow-y: hidden;
}
.sec3 .middle{
    height: 260px;
    width: 1350px;
    display: flex;
    position: relative;
}
.part{
    height: 200px;
    width: 430px;
    PADDING: 22px;
    overflow-y: hidden;
}
.part img{
    height: 189px;
    width: 152px;
    overflow-y: hidden;
}
.photoandtext{
    display: flex;
    position: relative;
}
.part .border{
    position: absolute;
    /* top: 21px; */
    /* left: 7px; */
    width: 26%;
    height: 83%;
    border: 2px solid gray;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    /* aspect-ratio: auto 1954 / 1044; */
    margin: 6px 8px;
}

.sec4{
    height: 700px;
    width:100%;
    padding: 150px 0px;
    overflow-y: hidden;
    
}
.sec4 .middle{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    overflow-y: hidden;
    
}
.middle .nav{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
    padding-bottom: 80px;

}
.middle .nav ul a{
    text-decoration: none;
    font-size: small;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}
.middle .nav ul{
    display: flex;
    list-style: none;
    border-bottom: 2px solid gray;
}
.middle .nav ul li{
    margin: 0px 7px;
}
.middle .nav ul li div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: 2px solid gray; */
    padding: 20px;
    opacity: 0.5;
    position: relative;
}
.middle .nav ul li div:hover{
    opacity: 1;
}
.middle .nav ul li div > .hover{
    position: absolute;
    top:5px;
    visibility: hidden;
}
.middle .nav ul li div > .hover svg{
    height:50px;
    width: 50px;
    fill: orange;
}
.middle .nav ul li div svg{
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
}
.middle .nav ul li div svg:hover{
    height: 34px;
    width: 34px;
}
.middle .img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
}
    #container {
    width: 95%;
    height: auto;
    position: absolute;
    top: 50%;
    left:43%;
    transform: translate(-50%,-50%);
    overflow-y: hidden;
    }   
  #container img{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: hidden;
  }
  @keyframes sec5animation {
    0%{
        background-image: url(Img/assassin-four-85a56a7435150a924e72159572d5552f.png);
    }
    50%{
        background-image: url(Img/assassin-three-7a5c6f94608e146c6d40c68abf2b685b.png);
    }
    100%{
        background-image: url(Img/assassin-two-a5ebf8c8bc37fff89abf4dbbf4e347ed.png);
    }
  }
  @keyframes animation {
    0% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -105;
    }
    50% {
      stroke-dasharray: 80 10;
      stroke-dashoffset: -160;
    }
    100% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -300;
    }
  }
  .sec5{
    width: 100vw;
    height: 160vh;
    overflow: hidden;
  }
  .sec5 .effect{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.back1 img{
    position: absolute;
    height: auto;
    width: 100%;
}
.back1{
    position:relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin:0px;
    background-image: linear-gradient(white,lightblue,black);
  }
  /* .effect .img img{
    height: 700px;
    width: 700px;
  } */
  .effect .img{
    z-index: 20;
    height: 700px;
    width: 700px;
    animation-name: sec5animation;
    animation: sec5animation 9s infinite alternate;
    background-size: 700px 700px;
    position: absolute;
    top: 20%;
  }
  .effect .bor{
    position: absolute;
    top:350px;
    height: 500px;
    width: 500px;
    overflow-y: hidden;

  }
  .effect .bor .border{
    transform: rotate(45deg);
    border: 2px solid gray;
  }
  .a1 .text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    z-index: 10;
    margin-right: 10%;
  }
  .a1{
    position: absolute;
    top: 35%;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
  }
  .a1 .text :nth-child(1){
    font-size: 30px;
    color: white;
    font-weight: bold;
  }
  .a1 .text :nth-child(2){
    font-size: 100px;
    color: white;
    font-weight: bold;
  }
  .a1 .text :nth-child(3){
    color: white;
    font-weight: 200;
    width: 300px;
  }
  .a1 .text :nth-child(4),.sec6 .content .left button{
    background-color: #22d8f4;
    color: white;
    font-size:10px;
    margin: 5px;
    padding: 10px 35px;
  }
  #spinner {
    transform-origin: center;
    animation-name: animation;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;
  }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .sec6{
    background-color: black;
    width: 100vw;
    height: 160vh;
  }
  .sec6 .main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(Img/summonersrift1.jpg);
    background-repeat: no-repeat;
  }
  .sec6 .main .circle{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.919),rgba(0, 0, 0, 0.585),rgba(0, 0, 0, 0.338),rgba(0, 0, 0, 0.311),rgba(0, 0, 0, 0.574),rgba(0, 0, 0, 0.893),rgba(0, 0, 0, 0.993));
  }
  .sec6 .main .vid{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec6 .main .vid video{
    height:auto;
    border-radius: 999px;
    position: relative;
    width: 31.3%;
    top:-0.2%;
  }
  #container2 {
    width: 35%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-y: hidden;
    }   
    @keyframes rotate{
            
        0% {
            transform: scale3d(0.985, 0.985, 1) rotate(0deg);
        }

        50% {
            transform: scale3d(1, 1, 1) rotate(180deg);
        }

        100% {
            transform: scale3d(0.985, 0.985, 1) rotate(360deg);
        }
    }
    .sec6 .main .content{
    height: 40%;
    width: 90%;
    border: 2px solid gray;
    margin-bottom: 160px;
    position: relative;
    display: flex;
    align-items: end;
  }
  .sec6 .content .left{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
  }
  .sec6 .content .middle{
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 100;
  }
  .sec6 .content .middle :nth-child(1){
    color: white;
    font-weight: 200;
    width: 900px;
  }
  .sec6 .content .middle :nth-child(2){
    color: white;
    font-weight: 200;
    width: 200px;
    width: 80%;
  }
  .sec6 .content .right{
    width: 35%;
    height: 100%;
    z-index: 100;
  }
  .sec6 .content .left :nth-child(1){
    font-size: 25px;
    color: white;
    font-weight: bold;
  }
  .sec6 .content .left :nth-child(2){
    font-size: 90px;
    color: white;
    font-weight: bold;
  }
.sec6 .content .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec6 .content .right .right-inner{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.sec6 .content .right .right-inner :nth-child(1){
    width: 50%;
    height: 65%;
    background: #0bc6e3;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    font-weight: 400;
}
.sec6 .content .right .right-inner :nth-child(2){
    width: 30%;
    height: 98%;
    border:2px solid #0bc6e3;
}
.sec6 .content .right .right-inner :nth-child(2) img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.sec6 .content .right .right-inner :nth-child(3){
    width: 20%;
    height: 65%;
    background: #0bc6e3;
}
.sec7{
    width: 100vw;
    height: 110vh;
}
.sec7 .main{
    width: 100%;
    height: 100%;
    display: flex;
}
.sec7 .main .left{
    width: 10%;
    height: 100%;
}
.sec7 .main .middle{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.sec7 .main .middle :nth-child(1){
    width: 90%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec7 .main .middle :nth-child(1) :nth-child(1){
    font-size: 25px;
    font-weight: 900;
}
.sec7 .main .middle :nth-child(1) :nth-child(2){
    font-size: 95px;
    font-weight:bolder;
    overflow-y: hidden;
}
.sec7 .main .middle :nth-child(2){
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec7 .main .middle :nth-child(2) .part1{
    height: 80%;
    width: 40%;
    position: relative;
    overflow-y: hidden;
}
.sec7 .main .middle :nth-child(2) .part1 .photoandtext{
    margin: 5px 0px;
    background-color: black;
    height: 92%;
    width: 95%;
    background-color: #F6F6F6;
    
}
.sec7 .main .middle :nth-child(2) .part1 .photoandtext img{
    width: 100%;
    height: 80%;
}
.sec7 .main .middle .part1 .border{
    position: absolute;
    width: 91%;
    height: 97%;
    border: 2px solid gray;
    z-index: 10;
    background: transparent;
    top: -3px;
}
.sec7 .main .middle .part1 .photoandtext span{
    text-align: center;
    font-size: 27px;
    font-weight: 900;
}
.sec7 .main .right{
    width: 10%;
    height: 100%;
}
.sec8{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:hidden
}
.sec8 .btn{
    position: absolute;
    top:50%;
}
footer{
    height: 80vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
}
footer .part1{
    height: 15%;
    width: 100%;
    background-color:  rgb(6, 28, 37);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    color: white;
    font-weight: 100;
}
footer .part2{
    height: 15%;
    width: 100%;
    user-select: none;
    box-sizing: border-box;
    font-family: "FF Mark W05", Arial, sans-serif;
    background: #292929;
    padding: 24px;
    margin: 0;
    color: #7e7e7e;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .08em;
    text-align: center;
    text-transform: uppercase;
}
footer .part2 ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items:center ;
}
footer .part2 ul li a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #f9f9f9;
    transition: all .2s linear;
}
footer .part3{
    height: 70%;
    width: 100%;
}
footer .part1 .right{
    display: flex;
    position: relative;
    height: 50%;
}
footer .part3 :nth-child(1){
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill:  #7e7e7e;;
}
footer .part3 :nth-child(2){
    height: 20%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .part3 :nth-child(2) p{
    font-family: "FF Mark W05", Arial, sans-serif;
    max-width: 640px;
    height: fit-content;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    word-break: keep-all;
    color: #7e7e7e;
}
footer .part3 :nth-child(3){
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-sizing: border-box;
    font-family: "FF Mark W05", Arial, sans-serif;
    padding: 24px 0px 28px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .08em;
    text-align: center;
    text-transform: uppercase;
    overflow-y: hidden;
}
footer .part3 :nth-child(3) ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
footer .part3 :nth-child(3) ul li a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #f9f9f9;
    transition: all .2s linear;
}
footer .part3 :nth-child(4){
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .part3 :nth-child(4) div{
    height: 60%;
    width: 5%;
    border: 10px solid rgba(115, 115, 115, 0.671);
    border-radius: 4px;
}
footer .part3 :nth-child(4) div img{
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 1336px)  {
    .header .c7{
        display: none;
    }
    .border img{
        height: auto;
        width: 550px;
    }
}
@media screen and (max-width: 1262px)  {
    .header .c6{
        display: none;
    }
    .border img{
        height: auto;
        width: 500px;
    }
}
@media screen and (max-width: 1160px)  {
    .header .c5{
        display: none;
    }
    .border img{
        height: auto;
        width: 450px;
    }
}
@media screen and (max-width: 1060px)  {
    .header .c4{
        display: none;
    }
    .header .c6{
        display: block;
    }
    .border img{
        height: auto;
        width: 400px;
    }
}
@media screen and (max-width: 980px)  {
    .header .c7{
        display: block;
    }
    .header .c6{
        display: none;
    }
    .border img{
        height: auto;
        width: 350px;
    }
}
